* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: smaller;
}

h1 {
    color: #333;
}

aside {
    line-height: 1.6;
    background-color: #f0f0f0;
    border-left: 4px solid #999999c0;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    color: #333;
    transition: 1s ease;
}

label {
    font-weight: bold;
    margin-top: 20px;
    display: block;
}

textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    background-color: #40a489bb;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #888;
}

button:hover {
    background-color: #40a489e9;
}

pre {
    white-space : normal;
    padding: 10px 0;
    font-size: medium;
    overflow-wrap: break-word;
    overflow: auto;
}

mark {
    background-color: #f0f0f0;
    color: #333;
    padding: 3px;
    border: 1px solid #999999c0;
    border-radius: 10px;
}

.container {
    padding: 25px;
}

.output-section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 10px;
    color: #333;
    transition: transform 1s ease;
}

.output-section:hover {
    transform: translateY(-5px);
}

.hidden {
    display: none;
}

.spinner {
    margin: 10px 0;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: none;
}

.filter-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

#retrieve-spinner {
    animation: spin 4s linear infinite;
}

#retrieve-options {
    line-height: 1.6;
    background-color: #f0f0f0;
    border: 1px solid #999999c0;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
    color: #333;
    transition: 1s ease;
}

#retrieve-search {
    padding: 1px 5px;
    width: 250px;
    border: 1px solid #333333a0;
    border-radius: 10px;
}

#retrieve-filter-1, #retrieve-filter-2 {
    border: 1px solid #333333a0;
    border-radius: 10px;
}

#expand-tree, #collapse-tree {
    margin: 1000px 0;
    cursor: pointer;
    text-decoration: underline;
}

#retrieved-entries .jstree-anchor {
    white-space : normal;
    height : auto;
    max-width: 95%;
    padding: 4px;
    line-height: 1.4;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }
    .no-print {
        display: none;
    }
}